﻿@model AlohoMora.ViewModels.UserDetailsView
@{
    ViewBag.Title = "AdminIndex";
}
@Html.Partial("~/Views/Home/UserEditData.cshtml")

<div class="registration">
    <h2 class="card-header">Hi @Model.FirstName</h2>
    <div class="tab-group card-body">
        <button class="btn btn-outline-primary tag-logout" id="UserEditBtn" onclick="editUser(@Html.Raw(Json.Encode(@Model)).ToString())">Edit</button>
        <div class="btn btn-primary btn-sm td-color">@Html.ActionLink("All Users Details", "Details", "Home")</div>
        <div class="btn btn-primary btn-sm td-color">@Html.ActionLink("Details", "UserDetails", "Home", new { id = Model.Id }, null)</div>
    </div>
</div>