﻿@model List<AlohoMora.Models.User>

@{
    ViewBag.Title = "Details";
}
 @Html.Partial("~/Views/Home/UserEditData.cshtml")   

<div class="registration">
    <h3 class="form-heading">Details</h3>
    <div class="row th-color">
        <div class="form-group">
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-5">
                Email
            </div>
        </div>
    </div>
    @foreach (var employee in Model)
    {
        if (employee.RoleId == 1)
        {
            <hr />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 data-color">
                            @employee.FirstName
                        </div>
                        <div class="col-md-5 data-color">
                            @employee.Email
                        </div>
                        <div class="col-md-5">
                            <div class="btn btn-primary btn-sm td-color">@Html.ActionLink("Details", "UserDetails", "Home", new { id = employee.Id }, null)</div>
                            <button class="btn btn-primary btn-sm" id="AdminEditBtn" onclick="editUser(@Html.Raw(Json.Encode(@employee)).ToString())">Edit</button>
                        </div>
                    </div>
                </div>
        }
        else
        {
            <hr />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 data-color">
                            @employee.FirstName
                        </div>
                        <div class="col-md-5 data-color">
                            @employee.Email
                        </div>
                        <div class="col-md-5">
                            <div class="btn btn-primary btn-sm td-color">@Html.ActionLink("Details", "UserDetails", "Home", new { id = employee.Id }, null)</div>
                            <button class="btn btn-primary btn-sm" id = "UserEditBtn" onclick="editUser(@Html.Raw(Json.Encode(@employee)).ToString())">Edit</button>
                            <input type="submit" value="Delete" class="btn btn-primary btn-sm" onclick="userDelete(@employee.Id);" />
                        </div>
                    </div>
                </div>
                
        }
    }
</div>

